aeidon==1.2.1
aiohttp==1.0.5
altgraph==0.15
arrow==0.10.0
astunparse==1.5.0
async-timeout==2.0.0
attrs==17.4.0
bleach==1.5.0
bottle==0.12.13
certifi==2017.11.5
cffi==1.11.4
chardet==3.0.4
ChatterBot==0.8.1
chatterbot-corpus==1.1.1
click==6.7
colorama==0.3.9
cycler==0.10.0
decorator==4.2.1
deepcut==0.6.0.0
dill==0.2.7.1
discord.py==0.16.12
entrypoints==0.2.3
enum34==1.1.6
facebook-sdk==2.0.0
future==0.16.0
geopy==1.12.0
gTTS==1.2.2
gTTS-token==1.1.1
h5py==2.7.1
html5lib==0.9999999
httplib2==0.10.3
httpretty==0.8.14
humanize==0.5.1
idna==2.6
inflect==0.2.5
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.0
irc==16.2
jaraco.classes==1.4.3
jaraco.collections==1.5.2
jaraco.functools==1.17
jaraco.itertools==2.1
jaraco.logging==1.5.1
jaraco.stream==1.1.2
jaraco.text==1.9.2
jedi==0.11.1
Jinja2==2.10
jsondatabase==0.1.7
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.1
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.3
lxml==4.1.1
macholib==1.9
marisa-trie==0.7.4
Markdown==2.6.11
MarkupSafe==1.0
Mastodon.py==1.2.2
mathparse==0.1.1
matplotlib==2.1.2
mistune==0.8.3
more-itertools==4.1.0
mp3play==0.1.15
multidict==4.1.0
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.2.5
notebook==5.2.2
numpy==1.14.0+mkl
oauth2==1.9.0.post1
oauthlib==2.0.6
pandas==0.22.0
pandocfilters==1.4.2
Parsley==1.3
parso==0.1.1
patsy==0.5.0
pefile==2017.11.5
pickleshare==0.7.4
piglet==0.4.4
Pillow==5.0.0
playsound==1.2.2
praw==5.3.0
prawcore==0.13.0
prompt-toolkit==1.0.15
protobuf==3.5.1
PyAudio==0.2.11
pyborg==1.4.0b2
pycparser==2.18
pygame==1.9.3
pyglet==1.3.0
Pygments==2.2.0
PyInstaller==3.3.1
pymongo==3.6.0
pyparsing==2.2.0
pypiwin32==219
pyreadline==2.1
pythainlp==1.6.0.4
python-dateutil==2.6.1
python-twitter==3.3
pyttsx==1.1
pyttsx3==2.7
PyTumblr==0.0.6
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.18.4
requests-oauthlib==0.8.0
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
SoundFile==0.9.0.post1
SpeechRecognition==3.8.1
SQLAlchemy==1.1.15
statsd==3.2.2
statsmodels==0.8.0
stopwords==0.1.3
tabulate==0.8.2
tempora==1.10
tensorflow==1.15.0
tensorflow-tensorboard==0.4.0rc3
testpath==0.3.1
tflearn==0.3.2
toml==0.9.4
tornado==4.5.3
traitlets==4.3.2
update-checker==0.16
urllib3==1.22
venusian==1.1.0
wcwidth==0.1.7
websockets==3.4
Werkzeug==0.14.1
widgetsnbextension==3.1.0
win-unicode-console==0.5
